* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    list-style: none;
  }
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
  /*_______________________________________ФОН________________________________________________*/
  body {
    background: #121212;
  }
  html {
    width: 100%;
  }
  /*___________________________________ШАПКА САЙТА____________________________________________*/
  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141414;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.15);
    width: 100%;
    padding: 25px 7%;
    z-index: 1;
  }
  /*_Логотип____________________*/
  header .logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #8000e4;
  }
  /*_Незнаю______________________*/
  #check:checked ~ .list1 {
    height: 320px;
  }
  /*_Ссылки______________________*/
  header .list1 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: white;
    margin: 0 15px;
    padding: 4px 8px;
    transition: 0.1s;
  }
  header .list1 a {
    color: #a6a6a6;
  }
  header .list1 a:hover {
    color: white;
  }
  /*_Вставка меню в галочку______*/
  header #check {
    display: none;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  /*_Иконка меню__________________*/
  header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  @media (max-width: 1000px) {
    header {
      padding: 20px 4%;
    }
  }
  @media (max-width: 930px) {
    header {
      padding: 20px 3%;
    }
  }
  @media (max-width: 890px) {
    header .list1 {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #121212;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      padding: 0 3%;
      /*height: 320px;*/
      height: 0px;
      overflow: hidden;
      transition: 0.3s;
    }
    header .list1 a {
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.15);
      margin-top: 10px;
      padding: 10px 0;
      text-align: center;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }
    header label {
      display: block;
    }
  }
/* __________________________________________________ФУТЕР САЙТА_______________________________________________________ */
  /*_Расположение внизу страницы*/
  .container {
    flex: 1;
  }
  /*_Центрирование______________*/
  .center_block {
    display: flex;
    justify-content: center;
  }
  footer {
    background: #141414;
    display: block;
    justify-content: center;
  }
  footer a {
    font-size: 16px;
    transition: 0.5s;
  }
  footer a:hover {
    text-decoration: underline;
  }
  footer .ft-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .ft-main {
    background: #141414;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    width: 1080px;
    padding: 16px;
    justify-content: space-between;
  }
  .ft-main-item {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 13rem;
  }
  @media (min-width: 1500px) {
    .ft-main {
        justify-content: space-evenly;
    }
  }
  @media (max-width: 656px) {
    .ft-main {
        justify-content: space-between;
    }
    .ft-main-item {
      padding-top: 20px;
      min-width: 13rem;
      justify-content: center;
    }
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form input[type=email] {
    padding: 0.7rem;
    margin-top: 0.5rem;
    border-radius: 10px 0 0 10px;
    border: none;
    color: black;
  }
  form input[type=submit] {
    background: #8000e4;
    padding: 0.7rem;
    margin-top: 0.5rem;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    border: none;
  }
  .ft-copyright {
    background: #181818;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1080px;
}
.ft-copyright-item {
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    width: 1080px;
    align-items: center;
    justify-content: center;
}
.ft-copyright-item p {
    color: #a5a5a5;
    width: 1080px;
    padding: 16px;
}